# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/terraform.tfvars

# Credentials
**/*.json
**/*.key

# OS
.DS_Store

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
