image:
  repository: us-central1-docker.pkg.dev/gkedemo-485903/containers/hello-app
  tag: "1.0"

replicaCount: 2

service:
  type: LoadBalancer
  port: 80
  targetPort: 8080

resources:
  requests:
    cpu: "100m"
  limits:
    cpu: "500m"

