name: Build and Deploy to GKE

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

env:
  PROJECT_ID: gkedemo-485903
  PROJECT_NUMBER: 531610217280
  REGION: us-central1
  CLUSTER_NAME: gke-demo
  CLUSTER_ZONE: us-central1-a
  REPOSITORY: containers
  IMAGE_NAME: hello-app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/${{ env.PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "github-actions@gkedemo-485903.iam.gserviceaccount.com"

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build and push Docker image
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t us-central1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} \
            ./app

          docker push us-central1-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials ${{ env.CLUSTER_NAME }} \
            --zone ${{ env.CLUSTER_ZONE }} \
            --project ${{ env.PROJECT_ID }}

      - name: Deploy with Helm
        run: |
          helm upgrade --install hello ./helm/hello-app \
            --namespace hello-app \
            --create-namespace \
            --set image.tag=${{ github.sha }}

